.center {
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
}

#charts {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}